.table_protocolos{
  border-top: 2px solid;
  border-left: 1px solid;
  background-color:#E8E8E8;
}

.table_protocolos th {
  border-bottom: 2px solid;
  border-right: 2px solid;
}

.table_protocolos td {
  border-bottom: 1px solid;
  border-right: 1px solid;
  text-align:justify;
}