body {  background-color: #FDF5E6;
  font-family: Arial, Times New Roman, Times, Verdana;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
