<nav class="navbar navbar-default navbar-static-top" >
  <div class="container">
    <table>
      <tr>
        <td><%= link_to "Usuários", usuarios_path %></td>
        <td><%= link_to "Protocolos", protocolos_path %></td>
        <td><%= link_to "Sair", logout_path %></td>
      </tr>
    </table>
  </div>
</nav>

